---
---

@import "{{ site.theme }}";

canvas {
  display: block;
  margin: auto;
  background-color: #e6e6e6;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.jouer {
  position: relative;
  top: 270px;
  font-size:30px;
  width:70px;
  margin:auto;
  font-family:Myriad Pro;
}
.jouer:hover {
  cursor:pointer;
}
